<template>
  <header>
    <v-toolbar color="background" dense>
      <v-tabs background-color="transparent" :value="currentProject" @change="onTabsChange">
        <v-toolbar-items>
          <v-btn icon>
            <v-icon color="primary">mdi-folder-outline</v-icon>
          </v-btn>
        </v-toolbar-items>
        <v-tab v-for="project in openProjects" :key="project.id">{{project.project ? project.project.name : "newtab"}}
        </v-tab>
        <v-toolbar-items>
          <v-btn icon>
            <v-icon color="primary">mdi-plus</v-icon>
          </v-btn>
        </v-toolbar-items>
      </v-tabs>


      <v-spacer/>

      <v-switch v-model="$vuetify.theme.dark" hide-details label="dark theme"/>
    </v-toolbar>
  </header>
</template>

<script>
  import openProjectService from "../services/openProjectService";

  export default {
    computed: {
      currentProject() {
        return this.$store.state.currentProject;
      },
      openProjects() {
        return this.$store.state.openProjects;
      }
    },
    methods: {
      onTabsChange(event) {
        if (event !== undefined)
          this.$store.commit('setCurrentProject', event)
      }
    },
    async mounted() {
      let results = await openProjectService.instance.list();
      this.$store.commit('setOpenProject', results.data.results);
    }
  }
</script>

<style scoped>
</style>
