<template>
  <v-tabs-items :value="currentProject" class="transparent">
    <v-tab-item v-for="project in openProjects" :key="project.id">
      <ProjectDashboard v-if="project.project"/>
      <Dashboard v-else/>
    </v-tab-item>
  </v-tabs-items>
</template>

<script>
  import Dashboard from "./dashboard/dashboard";
  import ProjectDashboard from "./projectDashboard/projectDashboard";

  export default {
    name: "HelloWorld",
    components: {ProjectDashboard, Dashboard},
    computed: {
      currentProject() {
        return this.$store.state.currentProject;
      },
      openProjects() {
        return this.$store.state.openProjects;
      }
    },
    data() {
      return {
        items: [
          {
            text: 'Dashboard',
            disabled: false,
            href: 'breadcrumbs_dashboard',
          },
          {
            text: 'Link 1',
            disabled: false,
            href: 'breadcrumbs_link_1',
          },
          {
            text: 'Link 2',
            disabled: true,
            href: 'breadcrumbs_link_2',
          },
        ]
      }
    }
  }
</script>

<style scoped>

</style>
