<template>
  <v-app id="main" :style="{background: $vuetify.theme.themes[theme].background}">
    <app-header/>
    <nuxt/>
  </v-app>
</template>

<script>
  import appHeader from '@/components/header'

  export default {
    components: {appHeader},
    computed: {
      theme() {
        return (this.$vuetify.theme.dark) ? 'dark' : 'light'
      }
    }
  }
</script>

<style>
  body {
    margin: 0 !important;
  }
</style>
