<template>
  <v-toolbar color="primary">
    <v-toolbar-items>
      <v-menu offset-y>
        <template v-slot:activator="{on}">
          <v-list-item two-line v-on="on">
            <v-list-item-content>
              <v-list-item-subtitle>Project</v-list-item-subtitle>
              <v-list-item-title>nuclear_frontend</v-list-item-title>
            </v-list-item-content>
            <v-icon>mdi-chevron-down</v-icon>
          </v-list-item>
        </template>
        <v-list>
          <v-list-item>
            <v-list-item-title>nuclear_backend</v-list-item-title>
          </v-list-item>
          <v-list-item>
            <v-list-item-title>fanny_simulator</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
      <v-btn icon disabled>
        <v-icon>mdi-chevron-right</v-icon>
      </v-btn>
      <v-menu offset-y>
        <template v-slot:activator="{on}">
          <v-list-item two-line v-on="on">
            <v-list-item-content>
              <v-list-item-subtitle>Branch</v-list-item-subtitle>
              <v-list-item-title>Master</v-list-item-title>
            </v-list-item-content>
            <v-icon>mdi-chevron-down</v-icon>
          </v-list-item>
        </template>
        <v-list>
          <v-list-item>
            <v-list-item-title>Master</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-toolbar-items>
  </v-toolbar>
</template>

<script>
  export default {
    name: "projectDashboard"
  }
</script>

<style scoped>

</style>
