<template>
  <HelloWorld/>
</template>

<script>
  import {remote} from 'electron'
  import SystemInformation from '@/components/SystemInformation.vue'
  import HelloWorld from "../components/HelloWorld";
  import projectService from '../services/projectService'

  export default {
    components: {
      HelloWorld,
      SystemInformation
    },
    data() {
      return {
        externalContent: ''
      }
    },
    methods: {
      openURL(url) {
        remote.shell.openExternal(url)
      }
    },
    mounted: () => {
    }
  }
</script>

<style>
</style>
