<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <h1>Projects</h1>
      </v-col>
      <v-row>
        <v-col cols="6">
          <v-btn outlined color="primary" width="50%" class="mb-2" @click="openProjectDialog(0)"><span class="">Open a project</span>
          </v-btn>
          <v-btn outlined color="primary" width="50%" class="mb-2 v-btn" disabled><span>Clone a project</span>
          </v-btn>
          <v-btn outlined color="primary" width="50%" @click="openProjectDialog(2)"><span>Start a project</span>
          </v-btn>
        </v-col>
        <v-col cols="6">
          <h3>Recent Projects</h3>
          <v-row v-for="projet in projects" :key="projet.id">
            <v-col cols="12" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden;"
                   class="accent--text">
              <a>{{projet.name}}</a> <span>{{projet.path}}</span>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-row>
    <new-project-dialog :activated="newProjectDialog" @close="newProjectDialog = false"
                        :default-action="defaultAction"/>
  </v-container>
</template>

<script>
  import projectService from "../services/projectService";
  import NewProjectDialog from "./newProjectDialog";

  export default {
    name: "dashboard",
    components: {NewProjectDialog},
    data: () => {
      return {
        projects: [],
        newProjectDialog: false,
        defaultAction: undefined
      }
    },
    async mounted() {
      let results = await projectService.instance.list(1, 4);
      this.projects = results.data.results
    },
    methods: {
      openProjectDialog: function (defaultAction) {
        this.defaultAction = defaultAction;
        this.newProjectDialog = true;
      }
    }
  }
</script>

<style scoped>
</style>
