<template>
  <v-dialog v-model="activated" transition="dialog-bottom-transition" max-width="50%">
    <v-card>
      <v-toolbar dark>
        <v-toolbar-title>Project management</v-toolbar-title>
        <v-spacer/>
        <v-btn icon dark @click="$emit('close', $event)">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <v-row>
          <v-col cols="2">
            <v-list>
              <v-list-item-group v-model="actionModel" mandatory>
                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-title><h1>Open</h1></v-list-item-title>
                  </v-list-item-content>
                </v-list-item>

                <v-list-item disabled>
                  <v-list-item-content>
                    <v-list-item-title><h1>Clone</h1></v-list-item-title>
                  </v-list-item-content>
                </v-list-item>

                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-title><h1>Create</h1></v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-col>
          <v-divider vertical/>
          <v-col cols="4">
            <v-list>
              <v-list-item-group>
                <v-list-item v-for="(method, i) in methods[actionModel]" :key="i">
                  <v-list-item-icon>
                    <v-icon>{{method.icon}}</v-icon>
                  </v-list-item-icon>
                  <v-list-item-content>
                    <v-list-item-title>{{method.name}}</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-col>
          <v-divider vertical/>
          <v-col cols="5">
            <v-list>
              <v-list-item-group>
                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-title>Open</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>

                <v-list-item disabled>
                  <v-list-item-content>
                    <v-list-item-title>Clone</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>

                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-title>Create</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    name: "newProjectDialog",
    props: {
      activated: false,
      defaultAction: Number
    },
    data: function () {
      return {
        actionModel: undefined,
        fromModel: undefined,
        methods: [
          [
            {
              name: "Open Local Project",
              icon: "mdi-folder-open-outline"
            },
            {
              name: "Recently Opened",
              icon: "mdi-clock-outline"
            },
            {
              name: "Favorites",
              icon: "mdi-heart-outline"
            }
          ],
          [],
          [
            {
              name: "Create Local Project",
              icon: "mdi-desktop-classic"
            }
          ]
        ]
      }
    },
    watch: {
      activated: function () {
        this.actionModel = this.defaultAction;
      }
    }
  }
</script>

<style scoped>

</style>
